@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RazerF5';
    src: url("/src/assets/fonts/razerf5-reg.otf");
}

@font-face {
    font-family: 'RazerF5Light';
    src: url("/src/assets/fonts/razerf5-light.otf");
}

@font-face {
    font-family: 'RazerF5Bold';
    src: url("/src/assets/fonts//razerf5-semibold.otf");
}

